body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 233, 233);
}
main {
  margin: 0 auto;
  margin-top: 100px;
  width: 550px;
  border: 2px solid #485806;
  border-radius: 5px;
  background-color: white;
}
main,
h1 {
  text-align: center;
}

.button {
  margin: 20px 0 30px;
  width: 150px;
  font-weight: 500;
  font-size: 20px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: white;
  background-color: #485806;
  border: none;
  border-radius: 5px;
  transition: all 250ms;
  font-family: inherit;
}
.button:hover {
  background-color: #93ad18;
}
